.storeContainer{
    background-color: #ece8e8c6;
}
.storeObjek{
    padding-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.storeBody{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to right, #6681ea , purple, #03AC0E);
    border-radius: 12px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}
.storeData {
    position: relative;
    top: -70px;
    width: 80%;
    height: 20vh;
    border-radius: 12px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    justify-content: center;
}
.storeMainData{
    position: relative;
    top: -70px;
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.storeSide{
    width: 40%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    top: 60px;
}
.storeSide span {
    font-weight: 400;
    font-size: 11px;
}
.storeSide p {
    margin: 0;
}
.storeImg{
    /* width: 150px; */
    height: 150px;
    border-radius: 50%;
}
.storeImgSide{
    width: 150px;
    height: 50px;
}
.storeMid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.storeSideItem{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.storeImg img {
   background-size: cover;
   height: 100%;
}
.storeMid .storeName{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.productNav{
    margin-top: -50px;
}
.productNavBody{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: thistle;
    border-radius: 8px;
}
.productListItem{
    margin-top: 20px;
}
.productListCard{
    width: 150px;
    height: 250px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productListImg{
    width: 100%;
}
.productListImg img {
    width: 100%;
}